<div class="cart-item">
    <div class="cart-item__list">
        @for(item of cartItems; track $index){
            <div class="cart-item__product">
                <div class="cart-item__product-info">
                <img class="cart-item__image" [src]="item.product.image" alt="{{ item.product.title }}" />
                <div class="cart-item__details">
                    <h3 class="cart-item__title">{{ item.product.title }}</h3>
                    <p class="cart-item__description">{{ item.product.description }}</p>
                    <p class="cart-item__price">Сумма: {{ item.product.price * item.quantity }}</p>
                </div>
            </div>
            <div class="cart-item__quantity">
                <div>
                    <p class="cart-item__quantity-label">Количество</p>
                    <button class="cart-item__quantity-button" (click)="onDecreaseQuantity(item.product.id)">-</button>
                    <span class="cart-item__quantity-value">{{ item.quantity }}</span>
                    <button class="cart-item__quantity-button" (click)="onIncreaseQuantity(item.product.id)">+</button>
                </div>
                <button class="cart-item__remove-button" (click)="onRemoveFromCart(item.product.id)">Удалить из корзины</button>
            </div>
        </div>
        }
    </div>
</div>